@using WebApp.Models.ViewModels
@model ProjectVM

@{
    ViewData["Title"] = "Delete";
    var skillSetList = ViewBag.SkillSet;
}

<div class="row d-flex justify-content-center text-center">
    <h3>Are you sure you want to delete this project?</h3>
    <h2 class="m-3">
        @Html.DisplayFor(Model => Model.Title)
    </h2>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="AdminSearch" class="btn btn-outline-primary">Back to List</a>
    </form>
</div>
