@using WebApp.Models.ViewModels
@model SearchVM

@{
    ViewData["Title"] = "Search";
    Layout = "_UserLayout";
    var projectTypes = ViewBag.ProjectTypes;
}

<h1>List of Projects</h1>

<form asp-action="Search" method="GET">
    <div class="row align-items-center">
        <div class="col-6">
            <input asp-for="Q" class="form-control form-control-sm" type="text" placeholder="Search projects" />
        </div>
        <div class="col-auto">
            <label class="form-label mt-1">Type:</label>
            <select asp-for="Filter" class="form-select">
                <option value="0">(default)</option>
                @foreach (ProjectTypeVM type in projectTypes)
                {
                    <option value="@type.IdprojectType">@Html.DisplayFor(modelItem => type.Name)</option>
                }
            </select>
        </div>
        <div class="col-auto">
            <label class="form-label mt-1">
                Page length:
            </label>
            <select asp-for="Size" class="form-select">
                <option>3</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
        </div>
        <div class="col-1">
            <input type="submit" value="Go" name="submit" class="btn btn-primary" />
        </div>
    </div>
</form>
<div id="searchPartialPlaceholder">
    <partial name="_SearchPartial" />
</div>

@section Scripts {
    <script>
        $('#Size').select2({
            minimumResultsForSearch: Infinity
        });
        $('#Filter').select2();
        $("body").on("click", "a.page-link", function (e) {
            e.preventDefault();

            const urlParts = e.target.href.split("?");
            const base = urlParts[0];
            const query = urlParts.length > 1 ? urlParts[1] : null;
            if (query) {
                $("#searchPartialPlaceholder").load(`${base}Partial?${query}`);
            } else {
                $("#searchPartialPlaceholder").load(`${base}Partial`);
            }
        })
    </script>
}