@{
    Layout = "_GuestLayout";
}

<h1>Registration successful</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterSuccess">
            <div class="form-group">
                <input type="submit" value="Ok" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>
