@{
    ViewData["Title"] = "Home Page";
    Layout = "_Guestlayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ProjeX</h1>
</div>

<div class="row">
    <p class="col-md-5 mt-5" style="text-align: justify;">
        ProjeX is the preferd platform for organizing, managing and hosting projects for Josip Pufler all around the world. To access this marvel of graphical web design simply <a asp-area="" asp-controller="Auth" asp-action="Login">Log in.</a>
    </p>
    <img class="col-md-7" src="https://media.licdn.com/dms/image/D4E12AQESLiVxKxCePg/article-cover_image-shrink_600_2000/0/1699034303525?e=2147483647&v=beta&t=UdE3TxTufbdMCyLhlxriTaM71Xws1E45_nOwb3w3XZw" />
</div>
