@{
    ViewData["Title"] = "Home Page";
    Layout = "_Guestlayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Login to view projects</h4>
    <a asp-area="" asp-controller="Auth" asp-action="Login" class="btn btn-primary">Login</a>
</div>
